<!--<h1>{{ title }}</h1>-->
<!--<app-authors></app-authors>-->
<!--<app-publishers></app-publishers>-->
<!--<app-books></app-books>-->
<!--<nav>-->
<!--&lt;!&ndash;  <a routerLink="/authors">Authors</a> |&ndash;&gt;-->
<!--&lt;!&ndash;  <a routerLink="/books">Books</a> |&ndash;&gt;-->
<!--&lt;!&ndash;  <a routerLink="/publishers">Publishers</a>&ndash;&gt;-->
<!--  <a routerLink="">Home</a> |-->
<!--  <a routerLink="/overview">Overview</a> |-->
<!--  <a routerLink="/authors">Authors</a>-->
<!--</nav>-->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/overview">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/authors">Authors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/publishers">Publishers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/books">Books</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
<div class="footer fixed-bottom text-center">The Best Books</div>
